#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header{
  padding: 3vh;
  height: 50vh;
  background-color: #1c1b1a;
}
.app{
  margin: 0 auto;
  color: black;
  background-color: white;
  height: 95vh;
  aspect-ratio: 2/3;
  overflow: auto;
  border-radius: 2vh;
}

.profile-picture-container{
  margin: 5vh auto;
  margin-bottom: 1vh;
  height: 20vh;
  aspect-ratio: 1/1;
  overflow: hidden;
  border:0.5em solid rgb(233, 208, 208);
  border-radius: 100%;
  object-fit:cover;
}

.profile-picture{
  margin:-200px;
  min-height: 100%;
  min-width: 100%;
}
.link-button>a{
  text-decoration: none;
  color: inherit;
}

.links{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.link-button{
  background-color: white;
  border: none;
  border-radius: 0.5em;
  padding: 0.8em 10vw;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  box-shadow: 0.25em 0.5em 1em rgb(55, 54, 54);
  font-size: 1em;
  color: black;
}

.link-button:hover{
  background-color: rgb(63, 63, 63);
  color: white;
}

.description  {
  margin: 2vh;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

.description >h1{
  color: rgb(238, 233, 233);
}

.description >h3 , .description >h6{
  margin: 0;
  padding: 0;
  color:#f5ddc6;
}
.content{
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.section{
  width: 90%;
  /* background-color: rgb(251, 192, 81); */
  padding: 0.5em 1em;
  border-radius: 2vh;
}

.section-title{
  color: rgb(128, 86, 9);
  /* text-align: left; */
  /* padding-left: 10vw; */
}

.section-text{
  width: 75%;
  margin: 0 auto;
  text-align: center;
  color: rgb(115, 92, 63);
}